<!DOCTYPE html>
<html lang="es">

<head>

    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/styles-productAdd.css">


        <title>Piky Editar Productos</title>
</head>

<body>

    <form action="/products/<%= product.id %>?_method=put" method="POST">
        <div class="form-body">
            <img src="/images/logo/logo-miss-piky.jpeg" alt="logo-miss-piky">
            <p class="text">Editar producto</p>
            <h4 class="text">Vas a modificar: <i>
                    <%= product.name %>
                </i></h4>

            <div class="form-register">
                <label for="name">Modelo</label>
                <input type="text" name="name" id="name" placeholder="Modelo Reloj" value="<%= product.name %>">
            </div>


            <div class="form-register">
                <label for="description">Descripcion</label>
                <input type="text" name="description" id="description" placeholder="Descripcion"
                    value="<%= product.description %>">
            </div>
            <div class="form-register">
                <label for="category">Seleccione Categoria</label>
                <select name="category" id="category">

                    <option value="sports" <%=product.category ? "selected" : "" %>>Bebe</option>
                    <option value="outdoor" <%=product.category ? "selected" : "" %>>Moda</option>
                    <option value="moda" <%=product.category ? "selected" : "" %>>Accesorios</option>
                </select>
            </div>

            <div class="form-register">
                <label for="price">Precio</label>
                <input type="number" name="price" id="price" placeholder="Precio" value="<%= product.price %>">
            </div>

            <button type="submit">MODIFICAR PRODUCTO</button>

    </form>

</body>

</html>